<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE project>
<Configuration status="warn">
	<Properties>
		<Property name="baseDir">${sys:catalina.home}/logs/springhibernatelog4j</Property>
	</Properties>
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %c{36} - %msg%n" />
		</Console>
		<RollingFile name="ErrorFileAppender" fileName="${baseDir}/log-error.log"
			filePattern="${baseDir}/errors/$${date:dd-MM-yyyy}/log-error-%d{yyyy-MM-dd-HH}-%i.log" append="false">
			<PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %c{36}.%M[%M:%L] - %msg%n" />
			<Policies>
				<TimeBasedTriggeringPolicy interval="1" modulate="true" />
				<SizeBasedTriggeringPolicy size="10 MB" />
			</Policies>
		</RollingFile>
		<RollingFile name="DebugFileAppender" fileName="${baseDir}/log-debug.log"
			filePattern="${baseDir}/debugs/$${date:dd-MM-yyyy}/log-debug-%d{yyyy-MM-dd-HH}-%i.log" append="false">
			<PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %c{36} - %msg%n" />
			<LevelRangeFilter minLevel="WARN" maxLevel="DEBUG" onMatch="ACCEPT" onMismatch="DENY" />
			<Policies>
				<TimeBasedTriggeringPolicy interval="1" modulate="true" />
				<SizeBasedTriggeringPolicy size="10 MB" />
			</Policies>
		</RollingFile>
		<RollingFile name="SQLFileAppender" fileName="${baseDir}/log-sql.log"
			filePattern="${baseDir}/sqls/$${date:dd-MM-yyyy}/log-sql-%d{yyyy-MM-dd-HH}-%i.log" append="false">
			<PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %c{36} - %msg%n" />
			<LevelRangeFilter minLevel="WARN" maxLevel="TRACE" onMatch="ACCEPT" onMismatch="DENY" />
			<Policies>
				<TimeBasedTriggeringPolicy interval="1" modulate="true" />
				<SizeBasedTriggeringPolicy size="10 MB" />
			</Policies>
		</RollingFile>
	</Appenders>
	<Loggers>
		<Logger name="com.mcnc.springhibernatelog4j" level="DEBUG" />

		<Logger name="org.hibernate.SQL" level="DEBUG">
			<AppenderRef ref="SQLFileAppender" />
		</Logger>

		<Logger name="org.springframework.core" level="DEBUG" />

		<Logger name="org.springframework.beans" level="DEBUG" />

		<Logger name="org.springframework.context" level="DEBUG" />

		<Logger name="org.springframework.web" level="DEBUG" />

		<Root>
			<AppenderRef ref="Console" level="DEBUG" />
			<AppenderRef ref="ErrorFileAppender" level="ERROR" />
			<AppenderRef ref="DebugFileAppender"/>
		</Root>
	</Loggers>
</Configuration>